GOOGLE_API_KEY="api_ke"
SERPAPI_API_KEY="api_key"
# Optional
NEWSAPI_API_KEY="api_key"
SEMANTIC_SCHOLAR_API_KEY="api_key"

# Optional
# 3400 is the default port for LangFlow / Genkit Flow server
FLOW_PORT="3400"

# Agent ports (make unique so agents don't conflict on a developer machine)
ORCHESTRATOR_AGENT_PORT="41243"
PLANNING_AGENT_PORT="41244"
CODER_AGENT_PORT="41242"
ACADEMIC_RESEARCH_AGENT_PORT="41245"
NEWS_RESEARCH_AGENT_PORT="41246"
DATA_ANALYSIS_AGENT_PORT="41247"
WEB_RESEARCH_AGENT_PORT="41248"
CONTENT_EDITOR_AGENT_PORT="10003"
